@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;800&display=swap");

:root {
  /* Primary Neutrals, Descending Theme Contrast */
  --color-neutral-1: #121213;
  --color-neutral-2: #3a3a3c;
  --color-neutral-3: #515354;
  /* Contrast Neutrals, Ascending Theme Contrast */
  --color-contrast-1: #fff;
  --color-contrast-2: #bbb;
  /* Primary Colors */
  --color-blue: hsl(225, 70%, 55%);
  --color-blue-muted: hsl(225, 70%, 35%);
  --color-green: hsl(120, 60%, 35%);
  --color-yellow: hsl(53, 73%, 63%);

  /* Font Sizes */
  --font-size-title: 3.75rem;
  --font-size-scoreboard: 1.5rem;
  --font-size-button: 1.25rem;
  --font-size-nav-title: 2.5rem;
  --font-size-game: 1.7rem;
  --font-size-key: 1.25rem;

  --nav-height: 4.25rem;
  --keyboard-height: clamp(8rem, 26vh, 15rem);
  --keyboard-width: min(95%, 40rem);
  --scoreboard-height: clamp(2.5rem, 6vh, 4rem);
  --line-height: 1.4;

  font-family: "Noto Sans", sans-serif;
  line-height: var(--line-height);
}

.light {
  /* Primary Neutrals, Descending Theme Contrast */
  --color-neutral-1: #fff;
  --color-neutral-2: #bbb;
  --color-neutral-3: #ddd;
  /* Contrast Neutrals, Ascending Theme Contrast */
  --color-contrast-1: #121213;
  --color-contrast-2: #363538;
  /* Primary Colors */
  --color-blue: hsl(225, 80%, 70%);
  --color-blue-muted: hsl(225, 80%, 70%);
  --color-green: hsl(120, 60%, 35%);
  --color-yellow: hsl(53, 73%, 63%);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: var(--font-size-title);
}

main {
  margin-top: var(--nav-height);
  background-color: var(--color-neutral-1);
  color: var(--color-contrast-1);
}
main > section {
  min-height: calc(100vh - var(--nav-height));
}

a {
  text-decoration: none;
  color: inherit;
}

b {
  color: var(--color-blue);
}

@media (prefers-reduced-motion: no-preference) {
  * {
    transition: background-color 0.5s, color 0.5s 0.2s;
  }
}
