.game-tile {
  max-width: 2.3em;
  min-width: 0.85em;
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

[class="game-tile"] {
  /* Only tiles with no results and no fill */
  border: 0.5px solid var(--color-neutral-2);
}
.game-tile.filled {
  border: 2px solid var(--color-neutral-3);
}
.game-tile.gray {
  background-color: var(--color-neutral-2);
}
.game-tile.green {
  background-color: var(--color-green);
}
.game-tile.yellow {
  background-color: var(--color-yellow);
}

@media (prefers-reduced-motion: no-preference) {
  .game-tile.filled {
    animation: scale-in 0.1s linear 1;
  }

  .game-tile.gray,
  .game-tile.green,
  .game-tile.yellow {
    animation: flip 0.3s linear 1 both;
  }

  @keyframes scale-in {
    20% {
      scale: 1.25;
    }
  }

  @keyframes flip {
    0%,
    50% {
      border: 0.5px solid var(--color-neutral-3);
      background-color: transparent;
    }
    50% {
      transform: scaleX(0);
    }
  }
}
