.game-display {
  width: 75%;
  margin: 0.5rem auto;

  font-size: var(--font-size-game);
  text-transform: uppercase;
  font-weight: 800;

  display: flex;
  justify-content: center;
}

.game-display-column {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.35rem;
}
.game-display-column.split {
  max-width: 11rem;
}

.tile-row {
  max-height: 2.3em;
  min-height: 1.5em;
  flex: 1;

  display: flex;
  justify-content: center;
  gap: 0.35rem;
}

@media (prefers-reduced-motion: no-preference) {
  .tile-row.invalid {
    animation: shake 0.5s linear;
  }

  @keyframes shake {
    17%,
    50%,
    83% {
      translate: -0.5em;
      filter: blur(0.08em);
    }
    33%,
    66% {
      translate: 0.5em;
      filter: blur(0.08em);
    }
  }
}
