.back-button {
  width: calc(var(--font-size-button) * 3);
  border-radius: calc(var(--font-size-button));
  border: 0;
  
  position: absolute;
  top: calc(var(--nav-height) + var(--font-size-game) / 2);
  left: var(--font-size-game);
  z-index: 1;
  
  background-color: var(--color-yellow);
  color: inherit;
  font-size: var(--font-size-button);
  font-family: inherit;
}