.game-tile {
  aspect-ratio: 1 / 1;
  max-width: calc(var(--font-size-game) * 2.3);
  border: .5px solid var(--color-neutral-2);
  flex: 1;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-tile.filled {
  border-color: var(--color-neutral-3);
}

.game-tile.gray,
.game-tile.green,
.game-tile.yellow {
  border: 0;
}
.game-tile.gray {
  background-color: var(--color-neutral-2);
}
.game-tile.green {
  background-color: var(--color-green);
}
.game-tile.yellow {
  background-color: var(--color-yellow);
}