.game-display {
  width: 75%;
  margin: 0.5rem auto;

  font-size: var(--font-size-game);
  text-transform: uppercase;
  font-weight: 800;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.35rem;
}

.tile-row {
  max-height: calc(var(--font-size-game) * 2.3);
  flex: 1;

  display: flex;
  justify-content: center;
  gap: 0.35rem;
}
