.keyboard {
  width: 100%;
  padding: calc(var(--font-size-key) * .4);
  font-size: var(--font-size-key);
  
  position: absolute;
  bottom: 0;
  left: 0;
  
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: calc(var(--font-size-key) * .3);
}

.span-2 {
  grid-column: span 2;
}
.span-3 {
  grid-column: span 3;
}