.scoreboard {
  font-size: var(--font-size-scoreboard);

  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: end;
}

.scoreboard p {
  grid-column: 2;
}

.scoreboard button {
  width: calc(var(--font-size-button) * 3.5);
  border-radius: calc(var(--font-size-button));
  border: 0;
  margin-inline: auto;

  color: var(--color-neutral-1);
  font-size: var(--font-size-button);
  font-family: inherit;
}

button.next {
  background-color: var(--color-green);
}
button.reset {
  background-color: var(--color-yellow);
}
