.span-2 {
  grid-column: span 2;
}
.span-3 {
  grid-column: span 3;
}

.key {
  text-transform: uppercase;
  font-weight: 600;
  font-size: inherit;

  background-color: var(--color-neutral-3);
  color: inherit;
  border: none;
  border-radius: 0.4em;
}

.key#a {
  grid-column: 2 / span 2;
}

.key#enter {
  border-radius: 0.67em;
  font-size: 0.6em;
}
.key svg {
  height: 1.5em;
  width: 1.5em;
  font-weight: inherit;
  transform: translateY(0.2rem);
}
.key svg path {
  stroke: var(--color-contrast-1);
}
