.span-2 {
  grid-column: span 2;
}
.span-3 {
  grid-column: span 3;
}

.key {
  text-transform: uppercase;
  font-weight: 600;
  font-size: inherit;

  background-color: var(--color-neutral-3);
  color: inherit;
  border: none;
  border-radius: 0.4em;
}

#a {
  grid-column: 2 / span 2;
}

.keyboard svg {
  height: 1.5em;
  width: 1.5em;
  translate: 0 0.2rem;
}
#Enter svg {
  transform-origin: 50% 50%;
  transform: scaleX(-1);
}
#Enter svg path {
  fill: var(--color-contrast-1);
}
#Backspace svg path {
  stroke: var(--color-contrast-1);
}
