nav {
  height: var(--nav-height);
  width: 100%;
  background: var(--color-neutral-1);
  border-bottom: 1px solid var(--color-neutral-2);
  color: var(--color-contrast-1);
  text-align: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
}

.nav-title {
  font-size: var(--font-size-nav-title);
  grid-column: 2;
}

.theme-button {
  width: max-content;
  padding: 0.25rem 0.75rem;
  margin-inline: auto 1.5rem;
  border: 1px solid var(--color-contrast-1);
  border-radius: 0.75rem;

  background-color: var(--color-blue-muted);
  color: inherit;
  font-family: inherit;
  font-size: inherit;

  text-transform: capitalize;
}
